body{
    text-align: center;
    background-color: #f8f3f3;
}
.card{
  
    background-color: none;
    height: 220px;
}
 
.bg-magicien{
    background-color: #74f7bf;
}

.bg-archer{
    background-color: #ff4d31;
}

.bg-guerrier{
    background-color: #c7ff31;
}